.idea
dynamicSectionsDetectionTool/testIOFolder/*/output/*
dynamicSectionsDetectionTool/classificationParamsTests/*/cfgFiles/*
dynamicSectionsDetectionTool/classificationParamsTests/*/testResults.json
dynamicSectionsDetectionTool/testIOFolder/*/input/screenshots/*
dynamicSectionsDetectionTool/testIOFolder/*/input/captureAnalysis.json
dynamicSectionsDetectionTool/randomTests
dynamicSectionsDetectionTool/unusedStuffWorthKeeping
resources
workdir_browsertime/docker/browsertimeCustomBaseFiles/config
workdir_browsertime/resources
workdir_browsertime/docker/browsertimeBaseFiles/nodemodules
