html, body {
  height: 600px;
  max-height: 600px;
  overflow-y: hidden;
}

body {
  border: 0;
  width: 800px;
  padding: 0 10px;
  min-width: 800px;
  max-width: 1080px;
  margin: 10px auto;
  overflow-y: scroll;
  background-color: rgba(0,0,0,0.01);
}

table {border-spacing: 1px}

body, table, input, textarea {
  font-size: 12px;
  font-family: arial, sans-serif;
}

a {text-decoration: none}

p {
  border: 0;
  margin: 0;
  padding: 0;
  user-select: none;
  line-height: 16px;
  text-align: justify;
}

.settings {
  width: 100%;
  margin: auto;
}

.settings tr td {
  width: 50px;
  min-width: 50px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  border: solid 1px rgba(0,0,0,0.1);
}

.settings tr td[method="arr"] {
  color: #333;
  text-transform: capitalize;
}

.settings tr td[method="arr"][mode="selected"] {
  font-weight: bold;
  background-color: rgb(201, 196, 118);
}

.settings tr td[method="address"][type="all"] {background: url(all.png) center center no-repeat}
.settings tr td[method="apply"][type="frame"] {background: url(frame.png) center center no-repeat}
.settings tr td[method="apply"][type="domain"] {background: url(domain.png) center center no-repeat}
.settings tr td[method="address"][type="thirdparty"] {background: url(thirdparty.png) center center no-repeat}

.settings textarea {
  border: 0;
  width: 100%;
  padding: 5px;
  height: 115px;
  min-width: 280px;
}

.logo div, .support div {
  width: 100px;
  height: 72px;
  text-align: center;
  vertical-align: middle;
}

.support div {background: url(support.png) center center no-repeat}
.logo div {background: url(../icons/48.png) center center no-repeat}

.title {
  color: #FFF;
  width: 100%;
  font-size: 32px;
  text-align: center;
  background-color: #87B59E;
}

.description, .highlight {
  color: #333;
  padding: 5px;
  text-align: justify;
}

#icons table {margin: auto}
.highlight {background-color: rgb(226,223,172) !important}

#icons tr {background-color: rgb(226,223,172)}
.all {background: url(all-48.png) center center no-repeat}
.frame {background: url(frame-48.png) center center no-repeat}
.domain {background: url(domain-48.png) center center no-repeat}
.thirdparty {background: url(thirdparty-48.png) center center no-repeat}

.icon-description {
  color: #333;
  padding: 5px;
}

#settings table {
  width: 100%;
  margin: auto;
  text-align: center;
  vertical-align: middle;
}

#settings input {
  margin: 0;
  border: 0;
  outline: 0;
  box-shadow: none;
  background: #FFFF;
  vertical-align: middle;
}

.csp {background: url(csp.png) center center no-repeat}
.faq {background: url(faq.png) center center no-repeat}
.badge {background: url(badge.png) center center no-repeat}
.console {background: url(console.png) center center no-repeat}
.webrequest {background: url(observe.png) center center no-repeat}

.icon {
  width: 68px;
  height: 38px;
  min-height: 38px;
  background-size: 24px;
  background-color: #87B59E !important;
}

.checkbox {
  text-align: center !important;
  background-color: #87B59E !important;
}

.mode {
  cursor: pointer;
  text-align: center !important;
  background-color: rgb(201, 196, 118) !important;
}

.mode[active="true"] {
  text-decoration: underline;
  font-weight: bold !important;
}

.mode[active="false"] {
  text-decoration: none;
  font-weight: normal !important;
}

.info {
  width: 100%;
  height: 77px;
  max-width: 1235px;
  text-align: center;
  vertical-align: middle;
  margin: 1px auto 0 auto;
  background-color: #87B59E;
}

.info .binfo {width: 50px}
.info .rinfo {padding: 0 10px}
.info tr td {user-select: none}

.info .rotate {
  transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.info-h {
  padding: 0;
  width: 100%;
  height: 24px;
  max-width: 1235px;
  text-align: center;
  vertical-align: middle;
}

.info-h tr td {padding: 0}
.info-h #INCLUSIVE-c, .info-h #EXCLUSIVE-c {width: 39%}
#settings, .description, #icons, .highlight, .info-h, #content {margin: 10px auto 0 auto}
.description, .highlight, #settings table, #icons table, .info-h, .info, .settings {border: solid 1px rgba(0, 0, 0, 0.1)}
