<div class="item-container">
  <img *ngIf="blockConfig.blockType === BLOCK_TYPES.DYNAMIC" src="{{imgResource}}"
       [ngStyle]="{
        'width': blockConfig.width,
        'height': blockConfig.height
       }"/>
  <div class="random-text-container" *ngIf="blockConfig.blockType === BLOCK_TYPES.STATIC.TEXT">
    <p class="static-item  random-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
      <!--<ngx-lorem-ipsum [min]="2" [max]="5"></ngx-lorem-ipsum>-->
    </p>
  </div>
  <div class="static-item main-title" *ngIf="blockConfig.blockType === BLOCK_TYPES.STATIC.TITLE">
    <h2>This is the title</h2>
  </div>
  <div class="static-item main-title" *ngIf="blockConfig.blockType === BLOCK_TYPES.STATIC.SUB_TITLE">
    <h3>This is page subtitle, laying under the title</h3>
  </div>
  <img class="static-item" *ngIf="blockConfig.blockType === BLOCK_TYPES.STATIC.IMG" src="{{imgResource}}"
       [ngStyle]="{
        'height': blockConfig.height
       }">
</div>
