<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div *ngFor="let blockConfig of blocksConfigurationsArray" class="row-blocks-container"
       [ngStyle]="{
       'min-height': blockConfig.height,
       'min-width': blockConfig.width,
       'top': blockConfig.top,
       'left': blockConfig.left
       }">
    <basic-block class="basic-block-container"
                 [blockConfig]="blockConfig"
                 [baseBlockHeight]="baseBlockHeightPx"
                 [baseBlockWidth]="baseBlockWidthPx"
                 [ngStyle]="{
                 'height': blockConfig.height,
                 'width': blockConfig.width
                 }">
    </basic-block>
  </div>
</div>

